In [1]:
from sklearn.cluster import KMeans
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("filtered_data_train.csv")

In [3]:
df.head()

,buggy_code,correct_code,problem_id,buggy_code_submission_id,correct_code_submission_id
0,"c;main(r){for(;scanf(""%d%d"",&r,&c),r;)puts(r&c...","c;main(r){for(;scanf(""%d%d"",&r,&c),r;)puts((r&...",p00657,s362273130,s011867637
1,"a[100],l,r,p,n;main(c){for(;l=scanf(""%d"",&r)*r...","a[100],l,r,p,n;main(c){for(;l=scanf(""%d"",&r)*r...",p00188,s446966487,s278308646
2,"#include <stdio.h>\nint main (void)\n{\nint a,...","#include <stdio.h>\nint main (void)\n{\nint a,...",p00161,s570559021,s490040394
3,#include <stdio.h>\n#include <math.h>\n\nchar ...,#include <stdio.h>\n#include <math.h>\n\nchar ...,p00044,s367988925,s836296672
4,#include <stdio.h>\nint main(void)\n{\n int a...,#include <stdio.h>\nint main(void)\n{\n int a...,p02398,s272396205,s183587626

In [4]:
df_correct_code = df.loc[2:3]

In [5]:
df_correct_code

,buggy_code,correct_code,problem_id,buggy_code_submission_id,correct_code_submission_id
2,"#include <stdio.h>\nint main (void)\n{\nint a,...","#include <stdio.h>\nint main (void)\n{\nint a,...",p00161,s570559021,s490040394
3,#include <stdio.h>\n#include <math.h>\n\nchar ...,#include <stdio.h>\n#include <math.h>\n\nchar ...,p00044,s367988925,s836296672

In [6]:
df.describe()

,buggy_code,correct_code,problem_id,buggy_code_submission_id,correct_code_submission_id
count,3063,3063,3063,3063,3063
unique,3052,3044,620,3063,3063
top,"N[]={ 6, 14, 18, 10, 2, 9, 22, 15, 1, 17, 2...","main(n){scanf(""%d"",&n);printf(""%d\n"",n*n*n);ex...",p02388,s362273130,s011867637
freq,2,3,103,1,1

In [7]:
from bs4 import BeautifulSoup
import glob

In [8]:
desc_text = []

In [9]:
def filter_description(desc):
    content = desc.split("\nInput\n")[0]
    content = " ".join(content.split())
    content = content.lower()
    content = content.replace("write a program", "")
    return content

In [10]:
# use glob to get a list of files that contain the HtML extension.
for file in glob.glob(r"D:\defence_data\Project_CodeNet\problem_descriptions\*.html"):
    with open(file,"r",encoding="utf8") as f:
        soup = BeautifulSoup(f,"html.parser")
          # Extract the text from the HTML
        text = soup.get_text()
        desc_text.append(filter_description(text))

In [11]:
#desc_text

In [12]:
# Create a DataFrame to store the text
df = pd.DataFrame(desc_text, columns=["description"])

In [13]:
df.head()

                                         description
0  qq  which prints multiplication tables in the ...
1  list of top 3 hills there is a data which prov...
2  digit number  which computes the digit number ...
3  is it a right triangle?  which judges wheather...
4  simultaneous equation  which solve a simultane...

In [14]:
filter_description(df.description[0])

'qq which prints multiplication tables in the following format: 1x1=1 1x2=2 . . 9x8=72 9x9=81'

In [15]:
df.shape

(3999, 1)

In [16]:
import re
# Remove numbers from text
df['description'] = df['description'].apply(lambda x: re.sub(r'\d+', '', x))

In [17]:
df['description'] = df['description'].apply(lambda x: re.sub(r'[\d+\+\-\*\/]+', '', x))

In [18]:
df['description'] = df['description'].str.replace('=', '', regex=True)

In [19]:
df['description'][0]

'qq  which prints multiplication tables in the following format: x x . . x x'

In [20]:
new_df = pd.DataFrame()

In [21]:
new_df = df[df['description'].map( lambda x : x.isascii())]

In [22]:
df.shape

(3999, 1)

In [23]:
new_df.shape

(1869, 1)

In [24]:
import spacy

C:\Users\Hp\anaconda3\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [25]:
spacy__ = spacy.load("en_core_web_sm")
stop_words = spacy__.Defaults.stop_words
#print(stop_words)

In [26]:
import string
punctuations = string.punctuation
punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [27]:
# creating our tokenizer function 
def spacy_tokenizer(sentence):
    # creating our token object which is used to create documents with linguistic annotations 
    doc = spacy__(sentence)
    # lemmatizing each token and converting it into lowercase 
    my_token = [word.lemma_.lower().strip() for word in doc]     # strip is used to remove the space in between 
    #print(my_token)
    
    # removing stop words 
    final_tokens = [word for word in my_token if word not in stop_words and word not in punctuations]
    #print(final_tokens)
    return final_tokens

In [28]:
new_df['tokens'] = 0

C:\Users\Hp\AppData\Local\Temp\ipykernel_15516\3515898356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tokens'] = 0

In [29]:
new_df.isnull().value_counts()

description  tokens
False        False     1869
dtype: int64

In [30]:
new_df['description'][0]

'qq  which prints multiplication tables in the following format: x x . . x x'

In [31]:
new_df['tokens'] = new_df['description'].apply(spacy_tokenizer)

C:\Users\Hp\AppData\Local\Temp\ipykernel_15516\3449493323.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tokens'] = new_df['description'].apply(spacy_tokenizer)

In [32]:
new_df['tokens'][0]

['qq',
 'print',
 'multiplication',
 'table',
 'follow',
 'format',
 'x',
 'x',
 'x',
 'x']

In [33]:
set(new_df['tokens'][1])

{'data',
 'datum',
 'descend',
 'height',
 'hill',
 'list',
 'meter',
 'mountain',
 'order',
 'print',
 'provide'}

In [34]:
len(new_df['tokens'][0][0])

2

In [35]:
def filter_array(word_array):
    filtered_list = []
    for element in word_array:
        if(len(element)>=3):
            filtered_list.append(element)
    return filtered_list

In [36]:
new_df['tokens'] = new_df['tokens'].apply(lambda word_array: filter_array(word_array))

C:\Users\Hp\AppData\Local\Temp\ipykernel_15516\646937507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tokens'] = new_df['tokens'].apply(lambda word_array: filter_array(word_array))

In [37]:
new_df['tokens'][64]

['print', 'multiplication', 'table', 'follow', 'format']

In [38]:
new_df.shape

(1869, 2)

In [39]:
new_df = new_df.reset_index(drop=True, inplace=True)

In [40]:
new_df['tokens'] = "".join(for i in new_df['tokens'])

SyntaxError: invalid syntax (3592329139.py, line 1)

In [ ]:
import gensim
description_text = new_df['tokens'].apply(gensim.utils.simple_preprocess)

In [ ]:
vectors = [model.wv.get_vector(word) for word in description_text[0]]

In [ ]:
print(description_text)

In [ ]:
from gensim.models import Word2Vec

model =  gensim.models.Word2Vec(

    window = 10,
    min_count = 1,
    workers = 4

)

In [ ]:
model.corpus_count

In [ ]:
print(model)

In [ ]:
from gensim.models import Word2Vec

# Define the corpus of text data
sentences = [['this', 'is', 'the', 'first', 'sentence'],
             ['this', 'is', 'the', 'second', 'sentence'],
             ['yet', 'another', 'sentence'],
             ['one', 'more', 'sentence'],
             ['and', 'the', 'final', 'sentence']]

# Train the model
model = Word2Vec(sentences, min_count=1)

# Access the embeddings
print(model['sentence'])