In [73]:
import pandas as pd
import re

In [74]:
# with open("my_sample.txt",'rb') as file:
#     contents = file.read()
df = pd.read_csv("my_sample.txt")

In [75]:
df.columns = ["called_function","argument_1","argument_2","type_of_argument","formal_parameter_1","formal_parameter_2","label"]

In [76]:
df.isna().sum()

called_function        0
argument_1             3
argument_2             3
type_of_argument       0
formal_parameter_1    20
formal_parameter_2    20
label                  0
dtype: int64

In [77]:
df['argument_1']=df['argument_1'].fillna('unknown')
df['argument_2']=df['argument_2'].fillna('unknown')
df['type_of_argument']=df['type_of_argument'].fillna('unknown')
df['formal_parameter_1']=df['formal_parameter_1'].fillna('unknown')
df['formal_parameter_2']=df['formal_parameter_2'].fillna('unknown')

In [79]:
df

,called_function,argument_1,argument_2,type_of_argument,formal_parameter_1,formal_parameter_2,label,total
0,calloc,len,sizeof,void *,unknown,unknown,1,calloc
1,calloc,sizeof,len,void *,unknown,unknown,0,calloc
2,calloc,len,sizeof,void *,unknown,unknown,1,calloc
3,_difftime64,_Time1,_Time2,double,_Time1,_Time2,0,_difftime64
4,_difftime64,_Time2,_Time1,double,_Time1,_Time2,1,_difftime64
...,...,...,...,...,...,...,...,...
217,glVertex2f,xc,yc,int,unknown,unknown,0,glVertex2f
218,glVertex2f,yc,xc,int,unknown,unknown,1,glVertex2f
219,glVertex2f,xc,yc,int,unknown,unknown,0,glVertex2f
220,glVertex2f,yc,xc,int,unknown,unknown,1,glVertex2f
221,glVertex2f,xc,yc,int,unknown,unknown,0,glVertex2f

In [82]:
df['total'] = df['called_function'] + '<SEP>'+ df['argument_1'] + '<SEP>'+df['type_of_argument'] + '<SEP>'+ df['formal_parameter_1'] + '<SEP>'+df['formal_parameter_2']
df['total']

0      calloc<SEP>len<SEP>void *<SEP>unknown<SEP>unknown
1      calloc<SEP>sizeof<SEP>void *<SEP>unknown<SEP>u...
2      calloc<SEP>len<SEP>void *<SEP>unknown<SEP>unknown
3      _difftime64<SEP>_Time1<SEP>double<SEP>_Time1<S...
4      _difftime64<SEP>_Time2<SEP>double<SEP>_Time1<S...
                             ...
217    glVertex2f<SEP>xc<SEP>int<SEP>unknown<SEP>unknown
218    glVertex2f<SEP>yc<SEP>int<SEP>unknown<SEP>unknown
219    glVertex2f<SEP>xc<SEP>int<SEP>unknown<SEP>unknown
220    glVertex2f<SEP>yc<SEP>int<SEP>unknown<SEP>unknown
221    glVertex2f<SEP>xc<SEP>int<SEP>unknown<SEP>unknown
Name: total, Length: 222, dtype: object

In [86]:
df.drop(['called_function','argument_1','argument_2','type_of_argument','formal_parameter_1','formal_parameter_2'],axis=1,inplace=True)

In [88]:
from transformers import BertTokenizer, TFBertForSequenceClassification
from transformers import InputExample, InputFeatures
import tensorflow as tf

C:\Users\Hp\anaconda3\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [89]:
model = TFBertForSequenceClassification.from_pretrained("bert-base-uncased")

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [90]:
tokenizer = BertTokenizer.from_pretrained("bert-base-uncased")

In [91]:
model.summary()

Model: "tf_bert_for_sequence_classification"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 bert (TFBertMainLayer)      multiple                  109482240

 dropout_37 (Dropout)        multiple                  0

 classifier (Dense)          multiple                  1538

=================================================================
Total params: 109,483,778
Trainable params: 109,483,778
Non-trainable params: 0
_________________________________________________________________

In [96]:
df = df.sample(frac = 1) # shuffling the dataset
df.reset_index(drop=True,inplace=True)
df

     label                                              total
0        1          strcmp<SEP>-t<SEP>int<SEP>_Str1<SEP>_Str2
1        0      listen<SEP>fd<SEP>int<SEP>unknown<SEP>unknown
2        0  fopen<SEP>filename<SEP>FILE *<SEP>_FileName<SE...
3        1          strcmp<SEP>-n<SEP>int<SEP>_Str1<SEP>_Str2
4        0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
..     ...                                                ...
217      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
218      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
219      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
220      1      exponent<SEP>power<SEP>int<SEP>base<SEP>power
221      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2

[222 rows x 2 columns]

In [105]:
m = len(df)
sample = int(m/10)

In [106]:
train_df = df[sample:]
test_df = df[:sample]

In [107]:
train_df

     label                                              total
22       0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
23       0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
24       1  exponent<SEP>power<SEP>int<SEP>unknown<SEP>unk...
25       0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
26       1          strcmp<SEP>-p<SEP>int<SEP>_Str1<SEP>_Str2
..     ...                                                ...
217      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
218      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
219      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2
220      1      exponent<SEP>power<SEP>int<SEP>base<SEP>power
221      0        strcmp<SEP>argv<SEP>int<SEP>_Str1<SEP>_Str2

[200 rows x 2 columns]

In [108]:
def convert_data_to_examples(train, test, code_snippet, label_of_code_snippet): 
  train_InputExamples = train.apply(lambda x: InputExample(guid=None, # Globally unique ID for bookkeeping, unused in this case
                                                          text_a = x[code_snippet], 
                                                          text_b = None,
                                                          label = x[label_of_code_snippet]), axis = 1)

  validation_InputExamples = test.apply(lambda x: InputExample(guid=None, # Globally unique ID for bookkeeping, unused in this case
                                                          text_a = x[code_snippet], 
                                                          text_b = None,
                                                          label = x[label_of_code_snippet]), axis = 1)
  
  return train_InputExamples, validation_InputExamples

In [109]:
train_InputExamples, validation_InputExamples = convert_data_to_examples(train_df, 
                                                                           test_df, 
                                                                           'total', 
                                                                           'label')

In [110]:
def convert_examples_to_tf_dataset(examples, tokenizer, max_length=128):
    features = [] # -> will hold InputFeatures to be converted later

    for e in examples:
        # Documentation is really strong for this method, so please take a look at it
        input_dict = tokenizer.encode_plus(
            e.text_a,
            add_special_tokens=True,
            max_length=max_length, # truncates if len(s) > max_length
            return_token_type_ids=True,
            return_attention_mask=True,
            pad_to_max_length=True, # pads to the right by default # CHECK THIS for pad_to_max_length
            truncation=True
        )

        input_ids, token_type_ids, attention_mask = (input_dict["input_ids"],
            input_dict["token_type_ids"], input_dict['attention_mask'])

        features.append(
            InputFeatures(
                input_ids=input_ids, attention_mask=attention_mask, token_type_ids=token_type_ids, label=e.label
            )
        )

    def gen():
        for f in features:
            yield (
                {
                    "input_ids": f.input_ids,
                    "attention_mask": f.attention_mask,
                    "token_type_ids": f.token_type_ids,
                },
                f.label,
            )

    return tf.data.Dataset.from_generator(
        gen,
        ({"input_ids": tf.int32, "attention_mask": tf.int32, "token_type_ids": tf.int32}, tf.int64),
        (
            {
                "input_ids": tf.TensorShape([None]),
                "attention_mask": tf.TensorShape([None]),
                "token_type_ids": tf.TensorShape([None]),
            },
            tf.TensorShape([]),
        ),
    )

In [111]:
code_snippet = 'total'
label_of_code_snippet = 'label'

In [113]:
train_InputExamples, validation_InputExamples = convert_data_to_examples(train_df, test_df, code_snippet, label_of_code_snippet)

train_data = convert_examples_to_tf_dataset(list(train_InputExamples), tokenizer)
train_data = train_data.shuffle(100).batch(32).repeat(2)

validation_data = convert_examples_to_tf_dataset(list(validation_InputExamples), tokenizer)
validation_data = validation_data.batch(32)

C:\Users\Hp\anaconda3\lib\site-packages\transformers\tokenization_utils_base.py:2198: FutureWarning: The `pad_to_max_length` argument is deprecated and will be removed in a future version, use `padding=True` or `padding='longest'` to pad to the longest sequence in the batch, or use `padding='max_length'` to pad to a max length. In this case, you can give a specific length with `max_length` (e.g. `max_length=45`) or leave max_length to None to pad to the maximal input size of the model (e.g. 512 for Bert).
  warnings.warn(

In [114]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=3e-5, epsilon=1e-08, clipnorm=1.0), 
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), 
              metrics=[tf.keras.metrics.SparseCategoricalAccuracy('accuracy')])

In [115]:
model.fit(train_data, epochs=2, validation_data=validation_data,verbose=1,batch_size=16,steps_per_epoch=12)

Epoch 1/2
WARNING:tensorflow:The parameters `output_attentions`, `output_hidden_states` and `use_cache` cannot be updated when calling a model.They have to be set to True/False in the config object (i.e.: `config=XConfig.from_pretrained('name', output_attentions=True)`).
WARNING:tensorflow:AutoGraph could not transform <bound method Socket.send of <zmq.Socket(zmq.PUSH) at 0x231eba9eac0>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: module, class, method, function, traceback, frame, or code object was expected, got cython_function_or_method
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING: AutoGraph could not transform <bound method Socket.send of <zmq.Socket(zmq.PUSH) at 0x231eba9eac0>> and will run it as-is.
Please report this to the TensorFlow team. When filing the bug, set the verbosity to 10 (on Linux, `export AUTOGRAPH_VERBOSITY=10`) and attach the full output.
Cause: module, class, method, function, traceback, frame, or code object was expected, got cython_function_or_method
To silence this warning, decorate the function with @tf.autograph.experimental.do_not_convert
WARNING:tensorflow:The parameter `return_dict` cannot be set in graph mode and will always be set to `True`.
WARNING:tensorflow:The parameters `output_attentions`, `output_hidden_states` and `use_cache` cannot be updated when calling a model.They have to be set to True/False in the config object (i.e.: `config=XConfig.from_pretrained('name', output_attentions=True)`).
WARNING:tensorflow:The parameter `return_dict` cannot be set in graph mode and will always be set to `True`.

KeyboardInterrupt

In [ ]:
df.to_csv('my_file.csv', index=None)