In [1]:
import numpy as np 
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn import metrics
import string 
import spacy

C:\Users\Hp\anaconda3\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_csv('Database_C.csv')
df

                                                    code  error_check
0      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
1      #include <stdio.h>\nint main(){\n    int n,i,b...            0
2      #include <stdio.h>\n#include <stdlib.h>\n#incl...            0
3      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
4      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
...                                                  ...          ...
53473  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53474  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53475  #include<stdio.h>\nint main()\n{\n    int n,k,...            1
53476  #include<stdio.h>\nint main()\n{\n    int n,k;...            1
53477  #include<stdio.h>\n\nmain()\n{\n    int n,k,ar...            1

[53478 rows x 2 columns]

In [3]:
df_0 = df[df['error_check']!=1]
df_0

                                                    code  error_check
0      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
1      #include <stdio.h>\nint main(){\n    int n,i,b...            0
2      #include <stdio.h>\n#include <stdlib.h>\n#incl...            0
3      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
4      #include <stdio.h>\n#include <stdlib.h>\nint m...            0
...                                                  ...          ...
46495  #include <stdio.h>\nint main()\n{\n    int n, ...            0
46496  #include <stdio.h>\n#include <stdlib.h>\nint B...            0
46497  #include<stdio.h>\nint arr[100];\nint max;\nin...            0
46498  #include <stdio.h>\nint a[100000];\nvoid swap(...            0
46499  #include <stdio.h>\nint main() \n{\n    int a,...            0

[46500 rows x 2 columns]

In [4]:
df_1 = df[df['error_check']!=0]
df_1

                                                    code  error_check
46500  #include <stdio.h>\nint main(){\n    int k,n;\...            1
46501  #include <stdio.h>\nint main()\n{\n    int k,n...            1
46502  #include <stdio.h>\nint main(){\n    int k,n,i...            1
46503  #include <stdio.h>\nint main(){\nint i,k,n,a;\...            1
46504  #include <stdio.h>\nint main(){int i,c,b,d=0,a...            1
...                                                  ...          ...
53473  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53474  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53475  #include<stdio.h>\nint main()\n{\n    int n,k,...            1
53476  #include<stdio.h>\nint main()\n{\n    int n,k;...            1
53477  #include<stdio.h>\n\nmain()\n{\n    int n,k,ar...            1

[6978 rows x 2 columns]

In [5]:
df_0['error_check'].value_counts()

0    46500
Name: error_check, dtype: int64

In [6]:
df_1['error_check'].value_counts()

1    6978
Name: error_check, dtype: int64

In [7]:
df_0.drop(index=df_0.index[6978:], axis=0, inplace=True)
df_0

C:\Users\Hp\AppData\Local\Temp\ipykernel_8436\1999356204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0.drop(index=df_0.index[6978:], axis=0, inplace=True)

                                                   code  error_check
0     #include <stdio.h>\n#include <stdlib.h>\nint m...            0
1     #include <stdio.h>\nint main(){\n    int n,i,b...            0
2     #include <stdio.h>\n#include <stdlib.h>\n#incl...            0
3     #include <stdio.h>\n#include <stdlib.h>\nint m...            0
4     #include <stdio.h>\n#include <stdlib.h>\nint m...            0
...                                                 ...          ...
6973  #include <stdio.h>\n#include <stdlib.h>\nint m...            0
6974  #include <stdio.h>\n#include <stdlib.h>\nint f...            0
6975  #include <stdio.h>\n#include <stdlib.h>\nint m...            0
6976  #include <stdio.h>\nint main(){\n       int n,...            0
6977  #include <stdio.h>\nint main(){\n    int n;\n ...            0

[6978 rows x 2 columns]

In [8]:
df_1.drop(index=df_1.index[6978:], axis=0, inplace=True)
df_1

C:\Users\Hp\AppData\Local\Temp\ipykernel_8436\2312284301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.drop(index=df_1.index[6978:], axis=0, inplace=True)

                                                    code  error_check
46500  #include <stdio.h>\nint main(){\n    int k,n;\...            1
46501  #include <stdio.h>\nint main()\n{\n    int k,n...            1
46502  #include <stdio.h>\nint main(){\n    int k,n,i...            1
46503  #include <stdio.h>\nint main(){\nint i,k,n,a;\...            1
46504  #include <stdio.h>\nint main(){int i,c,b,d=0,a...            1
...                                                  ...          ...
53473  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53474  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53475  #include<stdio.h>\nint main()\n{\n    int n,k,...            1
53476  #include<stdio.h>\nint main()\n{\n    int n,k;...            1
53477  #include<stdio.h>\n\nmain()\n{\n    int n,k,ar...            1

[6978 rows x 2 columns]

In [9]:
df_0.squeeze()
df_1.squeeze()

                                                    code  error_check
46500  #include <stdio.h>\nint main(){\n    int k,n;\...            1
46501  #include <stdio.h>\nint main()\n{\n    int k,n...            1
46502  #include <stdio.h>\nint main(){\n    int k,n,i...            1
46503  #include <stdio.h>\nint main(){\nint i,k,n,a;\...            1
46504  #include <stdio.h>\nint main(){int i,c,b,d=0,a...            1
...                                                  ...          ...
53473  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53474  #include<stdio.h>\n#include<stdlib.h>\nint mai...            1
53475  #include<stdio.h>\nint main()\n{\n    int n,k,...            1
53476  #include<stdio.h>\nint main()\n{\n    int n,k;...            1
53477  #include<stdio.h>\n\nmain()\n{\n    int n,k,ar...            1

[6978 rows x 2 columns]

In [10]:
df_new = pd.concat([df_0,df_1])

In [11]:
df_new['error_check'].value_counts()

0    6978
1    6978
Name: error_check, dtype: int64

In [12]:
def my_tokenizer(code):
    return code

In [13]:
count_vector = CountVectorizer(tokenizer=my_tokenizer)

In [45]:
from sklearn.model_selection import train_test_split
X = df_new['code']
y = df_new['error_check']
X_train,X_rem, y_train,y_rem = train_test_split(X,y,train_size=0.9,stratify=y,shuffle=True)
X_val,X_test,y_val,y_test = train_test_split(X_rem,y_rem,test_size=0.5,shuffle=True)

In [46]:
X_train.shape,y_train.shape

((12560,), (12560,))

In [47]:
X_val.shape,y_val.shape

((698,), (698,))

In [48]:
X_test.shape,y_test.shape

((698,), (698,))

In [49]:
X_train_vector = count_vector.fit_transform(X_train)
X_val_vector = count_vector.transform(X_val)
X_test_vector = count_vector.transform(X_test)

In [50]:
X_train_vector.shape,X_val_vector.shape,X_test_vector.shape

((12560, 73), (698, 73), (698, 73))

In [51]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=2000)

In [52]:
X_train_vector.toarray()

array([[ 0,  7, 29, ...,  0,  3,  0],
       [ 0,  1, 35, ...,  0,  5,  0],
       [ 0,  0, 36, ...,  0,  6,  0],
       ...,
       [ 0, 24, 27, ...,  0,  6,  0],
       [ 0,  0, 15, ...,  0,  3,  0],
       [ 0, 28, 31, ...,  0,  3,  0]], dtype=int64)

In [53]:
history = classifier.fit(X_train_vector,y_train)

In [54]:
predicted = classifier.predict(X_test_vector)

In [55]:
metrics.accuracy_score(y_test,predicted)

0.6547277936962751

In [56]:
metrics.precision_score(y_test, predicted)

0.6637168141592921

In [57]:
metrics.recall_score(y_test, predicted)

0.6392045454545454

In [58]:
# USING TFIDF Vectorizer 
tfidf_vector = TfidfVectorizer(tokenizer=my_tokenizer)

In [59]:
X_train_vec = tfidf_vector.fit_transform(X_train)
X_test_vec = tfidf_vector.transform(X_test)

In [60]:
classifier_tfidf = LogisticRegression()

In [61]:
history_tfidf = classifier_tfidf.fit(X_train_vec,y_train)

In [62]:
predicted_tfidf = classifier_tfidf.predict(X_test_vec)

In [63]:
metrics.accuracy_score(predicted_tfidf,y_test)

0.6518624641833811

In [64]:
metrics.precision_score(y_test, predicted_tfidf)

0.6598240469208211

In [65]:
metrics.recall_score(y_test, predicted_tfidf)

0.6392045454545454

# LSTM

In [ ]:
import tensorflow as tf

In [ ]:
X_train_tf = tf.constant(X_train_vec.toarray())
X_test_tf = tf.constant(X_test_vec.toarray())

In [ ]:
X_train_tf.shape

In [ ]:
y_train_tf = tf.constant(y_train)
y_test_tf = tf.constant(y_test)

In [ ]:
y_train_tf.shape

In [ ]:
'''model = tf.keras.Sequential([
    tf.keras.layers.LSTM(32,input_shape=(None,1)),
    tf.keras.layers.Dense(1,activation='sigmoid')]
)
'''

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32,return_sequences=True),input_shape=(None,1)),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(32)),
    tf.keras.layers.Dense(32,activation='relu')
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(64,activation='relu')
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(128,activation='relu')
    tf.keras.layers.Dense(1,activation='sigmoid')]
)

In [ ]:
model.compile(loss='binary_crossentropy', optimizer=tf.keras.optimizers.Adam(learning_rate=0.0001), metrics=['accuracy'])

In [ ]:
history = model.fit(X_train_tf, y_train_tf, epochs=50)